@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* General Rules */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #bbb;
}

a:hover{
  color: #000;
  transition: color 0.7s;
}

button{
  cursor: pointer;
  outline: none;
}

/* Main Nav */
.main-nav{
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.nav-list > li{
  position: relative;
  display: inline-block;
  padding-right: 30px;
}

.logo-section{
  display: flex;
  align-items: center;
}

.logo-section img{
  max-width: 100px;
}

.info-section{
  display: flex;
  align-items: center;
}

.info-section button{
  background: #EC008E;
  color: white;
  padding: 10px 30px;
  border-radius: 30px;
}

.info-section i{
  font-size: 10px;
}

.dropdown-menu{
  position: absolute;
  width: 305px;
  top: 30px;
  left: -80px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dropdown-menu ul li{
  display: block;
  padding-bottom: 20px;
}

.dropdown-menu ul li:last-child{
  padding-bottom: 0px;
}

.have-banner{
  position: relative;
}

.banner{
  position: absolute;
  top: -8px;
  left: 35px;
  font-size: 11px;
  color: #EC008E;
}